<html>

    <head>
        <title>header</title>
        <link rel = "stylesheet" href = "\static\css\crud.css"/>
    </head>

    <body>
        <div class = "home_header">
            <div class = 'home_box1'>
                <h1>Vl<sub>og</sub>page</h1>
            </div>

            <div class = 'home_box2'>
                <ul>
                    <li type = "none" >
                        <a href = "#">Home</a>
                        <a href = "#">About</a>
                        <a href = "#">Contact</a>
                        <a href = "#">Login</a>
                    </li>

                </ul>
            </div>
        </div>
    </body>

</html>